html {
  font-size: 62.5%;
}
body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: 1.6rem;
  overflow: hidden;
}
.header {
  height: 5.4rem;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  background: #cbf1f5;
}
.title {
  box-sizing: border-box;
  padding: 0 2rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 5.4rem;
  flex: 0 75%;
  color: #3f72af;
  cursor: default;
}
.copy {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: #1890ff;
  border-radius: 5px;
  margin-right: 4rem;
}
.copy::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 4px solid #1890ff;
  transform-origin: center;
  border-radius: 5px;
  transform: scale(1);
}
.copy:hover {
  cursor: pointer;
  background: #40a9ff;
}
.copy:hover::before {
  transition: all 0.75s ease-in-out;
  transform-origin: center;
  transform: scale(1.75);
  opacity: 0;
}
.editor {
  display: flex
}
.editor-item {
  flex: 0 0 50%;
  overflow: hidden;
}
.textarea {
  resize: none;
  outline: 0;
  border: none;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 1.6rem
}

.textarea::-webkit-scrollbar,
.styles-list::-webkit-scrollbar,
.paper-wrap::-webkit-scrollbar {
  width: 5px;
  background: #f1f1f1;
  border-radius: 2.5px;
}

.textarea::-webkit-scrollbar-track,
.styles-list::-webkit-scrollbar-track,
.paper-wrap::-webkit-scrollbar-track {
  width: 5px;
  border-radius: 2.5px;
}

.textarea::-webkit-scrollbar-thumb,
.styles-list::-webkit-scrollbar-thumb,
.paper-wrap::-webkit-scrollbar-thumb {
  background: #1890ff;
  border-radius: 2.5px;
}

.paper-wrap {
  overflow-y: auto;
  box-sizing: border-box;
}

.content {
  width: 375px;
  box-shadow: 0 10px 40px -10px rgba(0,64,128,.2);
  margin: 3rem auto;
}

.paper {
  width: 100%;
  box-sizing: border-box;
  word-break: break-all;
  overflow: hidden;
  padding: 1.6rem;
}

.code-btn,
.page-theme {
  position: relative;
  word-break: normal;
  margin-right: 4rem;
}

.styles-list,
.page-list {
  overflow-y: auto;
  position: absolute;
  top: 29px;
  left: 0;
  max-height: 200px;
  width: 90px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 10px 40px -10px rgba(0,64,128,.2);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* display: none; */
}

.triangle {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid #ffffff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  bottom: -11px;
  left: 40px;
  /* display: none; */
}

.styles-list li,
.page-list li {
  list-style: none;
  text-align: center;
  height: 30px;
  line-height: 30px;
  width: 100%;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  box-sizing: border-box;
  padding: 0 5px;
}

.styles-list li:hover,
.page-list li:hover {
  background: #40a9ff;
  cursor: pointer;
  color: #ffffff;
}

.active {
  color: #930077;
  border-bottom: 4px solid #930077;
}

.theme-btn,
.page-theme-btn {
  position: relative;
}

.theme-btn,
.page-theme-btn {
  cursor: pointer;
}

.theme-btn::before,
.page-theme-btn::before {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #930077;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.theme-btn:hover::before,
.page-theme-btn:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}